doctype html
html(lang='en')
  head
  body
    link(rel="stylesheet", type="text/css", href="/assets/styles.css")
    script(src='/gameCode/js/utilities.js')
    script(src='/gameCode/js/loader.js')
    script(src='/gameCode/js/main.js')
    script(src='/gameCode/js/keys.js')
    h1 Welcome to the Game Page
    // links or URLs are always GET resources as they are getting (retrieving) a resource
    a(href='/') Home  |
    a(href='/page1')   Game Page  |
    a(href='/scorePage')   High Scores  |
    a(href='/logout')   Log Out
    div.divSpacer
    div
      canvas#canvas(height='600', width='800', style='border: 1px solid black') Please use an HTML 5 browser
